.placeholder {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.mystery {
  margin: 2rem auto 0 auto;
  max-width: 600px;
  grid-column: 1 / span 2;
}

.botIcon {
  font-size: 3rem;
  color: #a3e3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.mysteryIcon {
  composes: botIcon;
  font-size: 3.5rem;
}

.mysteryTitle {
  letter-spacing: 2px;
}

.mysteryDescription {
  font-style: italic;
  color: #fff;
  opacity: 0.85;
} 